In [1]:
from load_data import load_shots
import pandas as pd
import matplotlib.pyplot as plt
from mplsoccer.pitch import Pitch

df = load_shots(123143)

In [3]:
df.head()

,event_id,event_type,period_id,timestamp,end_timestamp,ball_state,ball_owning_team,team_id,player_id,coordinates_x,coordinates_y,end_coordinates_x,end_coordinates_y,body_part_type,is_under_pressure,result,success,set_piece_type
0,4607691172,SHOT,1,0 days 00:01:37.924999,None,alive,36,36,10528,112.254545,39.016393,NaN,NaN,HEAD,True,OFF_TARGET,False,None
1,4607691290,SHOT,1,0 days 00:06:54.817000,None,alive,29,29,715,106.690909,15.346821,NaN,NaN,RIGHT_FOOT,None,OFF_TARGET,False,FREE_KICK
2,4607691427,SHOT,1,0 days 00:10:13.118000,None,alive,29,29,715,108.327273,47.098182,NaN,NaN,RIGHT_FOOT,True,OFF_TARGET,False,None
3,4607691571,SHOT,1,0 days 00:15:20.759000,None,alive,36,36,10430,84.543103,21.774545,NaN,NaN,RIGHT_FOOT,True,OFF_TARGET,False,None
4,4607692124,SHOT,1,0 days 00:28:55.135999,None,alive,29,29,356,103.418182,47.534545,NaN,NaN,RIGHT_FOOT,True,OFF_TARGET,False,None